<!-- <nav> <ul> <li> <a routerlink="/first-component" routerlinkactive="active">First Component</a> </li> <li> <a routerlink="/second-component" routerlinkactive="active">Second Component</a> </li> </ul> </nav> <ul> <li> <a href="/">Home</a> </li> <li> <a href="/biere">biere</a> </li> <li> <a href="/game">game</a> </li> </ul> -->

<app-navbar></app-navbar>
<router-outlet></router-outlet>